[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "*"
mypy = "*"
pycln = "*"

[packages]
pandas = "*"
matplotlib = "*"
sklearn = "*"
numpy = "*"
json-tricks = "*"
tabulate = "*"
jupyter = "*"
seaborn = "*"
ipykernel = "*"
data-science-types = "*"
prettytable = "*"
ipython = "*"
black = "*"
tqdm = "*"
mypy = "*"
gitpython = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
requests = "*"
pyyaml = "*"
aenum = "*"
kaggle = "*"
alipy = {editable = true, ref = "e104b69f3953df13cd5b32f72b7255cece3a5379", git = "https://github.com/jgonsior/ALiPy.git"}
playground = {editable = true, ref = "8c239f83727baacc9c2dfd2f72a34f54a5bec7e2", git = "https://github.com/jgonsior/active-learning.git"}
ray = "*"
modin = "*"
cvxpy = "*"
flask = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
