[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
rope = "*"
black = "*"
mypy = "*"
pycln = "*"

[packages]
pandas = "*"
matplotlib = "*"
sklearn = "*"
numpy = "*"
json-tricks = "*"
tabulate = "*"
jupyter = "*"
seaborn = "*"
ipykernel = "*"
data-science-types = "*"
prettytable = "*"
ipython = "*"
black = "*"
tqdm = "*"
mypy = "*"
gitpython = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
requests = "*"
pyyaml = "*"
aenum = "*"
kaggle = "*"
alipy = {editable = true, ref = "058c3a025c77964422a5417cfb2285f893a62295", git = "https://github.com/jgonsior/ALiPy.git"}
libact = {editable = true, ref = "49540d4bc4fbb434a6a2a22d8469a5309dfbb0f7", git = "https://github.com/jgonsior/libact.git"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
